<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Mode" value ="Daily"/>
    <!-- <add key ="Mode" value ="Interval"/>-->
    <!--<add key ="IntervalMinutes" value ="1"/>-->
    <add key ="ScheduledTime" value ="15:30"/>
    <add key ="UserName" value ="atn.iitd.mfreport@gmail.com"/>
    <add key ="Password" value ="quickbrownfox"/>
  </appSettings>
</configuration>